.grid > div {
width:100%;
height: 500px;
}

.grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20px;
    grid-template-areas: "a b c d e f";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 10px;
color:white;
text-align: center;
background-image: url(header.jpg.jpg);
background-size: cover;
height:300px
    
}

#pix{
    margin-top:180px;
}

.a {

margin-top: 20px;
}
.b {
  
    margin-top: 20px;

    }

.c {

    margin-top: 20px;

        }
.d {
 
    margin-top: 20px;

            }
.e {

    margin-top: 20px;

                }
.f {

                    margin-top: 20px;
                
                                }
